<ion-side-menus enable-menu-with-back-views="true">

    <!--********************* content **********************-->
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">

            <!-- left button -->
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
            </ion-nav-buttons>

            <!-- right button -->
            <ion-nav-buttons side="right">
             <div class="dropdown">

                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                     <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                </button>

                <ul class="dropdown-menu">
                     <li><a href="#" >Compte</a></li>
                     <li><a href="#" ui-sref="appMenu.setting">Paramètre</a></li>
                    <li><a href="#" ng-click="logout()">Déconnexion</a></li>
                </ul>

             </div>
            </ion-nav-buttons>
        </ion-nav-bar>

        <!-- menuContent -->
        <ion-nav-view name="menuContent"></ion-nav-view>

    </ion-side-menu-content>

    <!--********************* left **********************-->
    <ion-side-menu side="left" class="side-menu" slide-along offset="-15">
        <ion-header-bar class="bar-assertive">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ul class="list">
                <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
                <a href="" class="item" menu-close ui-sref="appMenu.home">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>  Home</a>

                <a href="" class="item" menu-close>
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  Liste des consultations</a>

                <a href="" class="item" menu-close>
                     <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>  Mes rendez-vous</a>

                <a ui-sref="appMenu.doctorLocator" class="item" menu-close>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>  Localisation de médecin</a>
                    
                <a href="" class="item" menu-close>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>  Localisation de pharmacie</a>
                <a href="" class="item" menu-close>Compte</a>
            </ul>
        </ion-content>
    </ion-side-menu>

    <!--********************* right **********************-->


</ion-side-menus>