<ion-view view-title="Consultation">
	<ion-content>
		 <ion-list>
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="consultation in consultationArray" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
               
                <h2>{{consultation.name }}</h2>
                <p> {{consultation.description }}</p>
                <p class="s-textalign-right"> {{consultation.date }}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="remove(chat)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
	</ion-content>
</ion-view>