<ion-view view-title="Home">
    <ion-content >
        <!--le contenu de la page l'accueil -->
        <div class="list">
            <a class="item item-icon-left" href="#">
                <i class="icon "><img src="img/cabinet-icon.png" width="40px"/></i> cabinet
            </a>

            <a class="item item-icon-left" ui-sref="appMenu.patient">
                <i class="icon "><img src="img/patient.png" width="40px"/></i> Patient
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon "> <img src="img/pharma.png" width="40px"/></i> Pharmacie
            </a>
        </div>



    </ion-content>
    <ion-footer-bar  >
  
  
   
</ion-footer-bar>
</ion-view>