<ion-view view-title="Paramètre">
    <ion-content>
            	<label class="s-margin-top">Notifications:</label>
        <div class="list">

          <ion-toggle ng-model="uncomingRDV" toggle-class=""> rendez-vous annulé</ion-toggle>
            
          <div class="item item-divider"> </div>
        
           <!--***************************************** -->
          <ion-toggle toggle-class="" ng-model="comingRDV">
                 rendez-vous à venir 
          </ion-toggle> 

          <div class="list" ng-show="comingRDV">
         
                  <ion-checkbox ng-model="isChecked">avant 1 jour</ion-checkbox>
              
                  <ion-checkbox ng-model="isChecked">avant 2 jours</ion-checkbox>
          
          </div>
         <!--***************************************** -->            	
      </div>
            
        </div>
    </ion-content>
</ion-view>

<!---
<select>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="opel">Opel</option>
  <option value="audi">Audi</option>
</select> -->

